<%- include('partials/header',{dev:'cats'}) %> <%- include('partials/navbar') %>
<h1>Cats</h1>
<ul>
  <% for(let cat of cats) { %>
  <h2><%= cat %></h2>
  <% } %>
</ul>
<%- include('partials/footer') %>
