<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cats</title>
  </head>
  <body>
    <h1>Cats</h1>
    <ul>
      <% for(let cat of cats) { %>
      <h2><%= cat %></h2>
      <% } %>
    </ul>
  </body>
</html>
