<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>random</title>
  </head>
  <body>
    <h1>Random number: <%= number %></h1>
    <% if(number % 2 === 0) { %>
    <h3>Angka Genap</h3>
    <% } else { %>
    <h3>Angka Ganjil</h3>
    <% } %>

    <h3>That's number is <%= number % 2 === 0 ? 'Even' : 'Odd' %></h3>
  </body>
</html>
